{% extends "base.html" %}
{% block title %}
  Последние обновления избранных авторов
{% endblock %}
{% block content %}
  <div class="container py-5">     
    <h1>Последние обновления избранных авторов</h1>
    {% load cache %}
    {% cache 2 index_page %}
    {% include 'includes/paginator.html' %}
    {% include "includes/switcher.html" %}
    {% for post in page_obj %}
      {% include "includes/post/post_obj_full.html" %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
    {% endcache %}
  </div>
{% endblock %}