{% extends "base.html" %}
{% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
  <div class="container py-5">        
    <h1>Все посты пользователя {{ author.get_full_name }} </h1>
    <h3>Всего постов: {{ author.posts.count }} </h3>
    {% include 'includes/paginator.html' %}
    {% include 'includes/if_following.html' %}
    {% for post in page_obj %}
      {% include "includes/post/post_obj_full.html" %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}
